@font-face {
    font-family: 'Gotham-Book';
    src: url('Gotham-Book.otf');
    src: url('Gotham-Book.otf') format('embedded-opentype'),
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham-Bold.otf');
    src: url('Gotham-Bold.otf') format('embedded-opentype'),
    font-weight: normal;
    font-style: normal;

}